
.Header {
  color: DodgerBlue;
  padding: 0px 0px 0px 15px;
  margin: 0;
  font-family: Arial;
  display: flex;
  flex-direction: row;
  background-color: #503d3f;
}

.Header a {
  text-decoration: none;
}

.Header h3 {
  color: #e84855;
}


